<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sqproject.mbc.dao.CoffeeDao">
    <!--메뉴조회-->
    <select id="coffeelist" resultType="sqproject.mbc.vo.CoffeeVo">
        SELECT * FROM coffee_menu
    </select>

    <!--장바구니입력-->
    <insert id="cartadd" parameterType="sqproject.mbc.vo.CoffeeVo">
        insert into coffeecart(CARTID, CARTMENU, CARTPRICE, CARTQUNT)
        values (#{orderid}, #{menuname}, #{menuprice}, #{menuqunt})
    </insert>

    <!--장바구니-->
    <select id="orderlist" parameterType="String" resultType="sqproject.mbc.vo.CoffeeVo">
        SELECT cartid as orderid, cartmenu as menuname, cartprice as menuprice, SUM(cartqunt) AS menuqunt
        FROM COFFEECART
        where CARTID = #{orderid}
        GROUP BY cartid, cartmenu, cartprice
    </select>
</mapper>